<h2>{{ post.title }}</h2>
<h4>{{ post.pub_date }}</h4>
<img src="{{post.feature_image }}" />
<p>{{ post.content|safe }}</p>
<ul>
{% for tag in post.tags_set.all %}
    <li>{{ tag.label }}</li>
{% endfor %}
</ul>

{% if latest_comments %}
    {% for comment in latest_comments %}
        <div for="comment{{ forloop.counter }}">{{comment.commenter_name}}</div><br />
        <div for="comment{{ forloop.counter }}">{{comment.created}}</div><br />
        <textarea for="comment{{ forloop.counter }}" disabled="disabled">{{ comment.comment }}</textarea>
        <br />
        <br />
    {% endfor %}
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blog:comment_on_post' post.id %}" method="post">
{% csrf_token %}

    <label>Name: </label><input type="text" name="name" /><br />
    <label>Email: </label><input type="text" name="email" /><br />
    <label>Website: </label><input type="text" name="website" /><br />
    <textarea name="comment" placeholder="Your comment here."> </textarea><br />
    <input type="submit" value="Submit" />
    <br />
    <br />
</form>

